@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.hass-iframe {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;  /* other elements need to be able to go in front of this */

    border: none;
}